
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @ViewBag.Message
</body>
</html>
